{
        skip_install_trust
}

seerr-mterr.home.arpa {
        reverse_proxy 10.0.0.2:5055
        tls internal
}

jellyfin-mterr.home.arpa {
        reverse_proxy 10.0.0.2:8096
        tls internal
}

pihole-mterr.home.arpa {
        # Redirect / → /admin
        @root path /
        redir @root /admin 302

        reverse_proxy pihole:80
        tls internal
}

radarr-mterr.home.arpa {
        reverse_proxy 10.0.0.2:7878
        tls internal
}

sonarr-mterr.home.arpa {
        reverse_proxy 10.0.0.2:8989
        tls internal
}

dispatcharr-mterr.home.arpa {
        reverse_proxy 10.0.0.2:9191
        tls internal
}

qbit-mterr.home.arpa {
        reverse_proxy 10.0.0.2:8080
        tls internal
}

prowlarr-mterr.home.arpa {
        reverse_proxy 10.0.0.2:9696
        tls internal
}

immich-mterr.home.arpa {
        reverse_proxy 10.88.111.21:2283
        tls internal
}
